{% extends "base.html" %}

{% block content %}

<nav class="sticky top-0">
    <div class="flex justify-between items-center bg-[#3f4cad] h-[60px] px-28">
        <div class="text-white text-2xl font-sans font-extrabold text-center mx-5 pb-1 cursor-default">ngoppish</div>
        <div class="mx-2">
            <a href="{% url 'main:logout' %}" class="py-2 px-4 border-2 border-gray-300 rounded-full"><i class="fa-solid fa-right-from-bracket" style="color: white;"></i></a>
        </div>
    </div>
</nav>

{% endblock content %}